bin
Temp/*
Library/*
Library/ScriptAssemblies/*
Library/.*
Temp/*.
Temp/.*
/Temp/__Backupscenes/0.backup
/obj/Debug/Assembly-CSharp.dll.mdb
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/Library/ScriptAssemblies/Assembly-CSharp.dll
/Library/metadata/ee/eeaea0ac402084f4dbac644cb4b85895.info
/Library/InspectorExpandedItems.asset
/Library/assetDatabase3
